#SERVICES
SERPER_DEV_API_KEY=""
EXA_SEARCH_API_KEY=""
GROQ_API_KEY=""
OPENAI_API_KEY=""

#Set to true to print debug data
DEBUG=False

#Model config file - You must restart streamlit for env to load again
MODEL_FILE="models.json"

#Storage - Set REDIS_EMUALTOR to true to use the in-memory cache fakeredis
REDIS_EMULATOR=True
REDIS_HOST=
REDIS_PORT=13997
REDIS_DB=0
REDIS_PASSWORD=""